<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header">
<div class="container">
   <ul class="nav nav-tabs">
    <li class="active"><a th:href="@{/home}">Home</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/income}">Income<span class="caret"></span></a>
      <ul class="dropdown-menu">
      	<li><a th:href="@{/income}">Income</a></li>
        <li><a th:href="@{/typeIncome}">Type of Income</a></li>
     </ul>
    </li>
     <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/bill}">Expenses<span class="caret"></span></a>
      <ul class="dropdown-menu">
      	 <li><a th:href="@{/bill}">Expenses</a></li>
         <li><a  th:href="@{/typeExpenses}">Type of Expenses</a></li>
         <li><a  th:href="@{/category}">Category</a></li>
     </ul>
    </li>
    <li><a th:href="@{/customer}">Customer</a></li>
    <li><a th:href="@{/supplier}">Supplier</a></li>
    <li><a th:href="@{/servicesoffered}">Services</a></li>
    <li><a th:href="@{/item}">Item</a></li>
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"  th:href="@{/property}">Property<span class="caret"></span></a>
      <ul class="dropdown-menu">
      	 <li><a  th:href="@{/property}">Property</a></li>
         <li><a  th:href="@{/typeproperty}">Type of Property</a></li>
       
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/budget}">Financial Reports<span class="caret"></span></a>
      <ul class="dropdown-menu">
      	  <li><a th:href="@{/budget}">Budget</a></li>
         <li><a th:href="@{/grapgh}">Bar</a></li>
         <li><a  th:href="@{/overview}">Overview</a></li>
     </ul>
    </li>
   
    
  </ul>
</div>
</th:block>

</body>
</html>