<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Create new Customer</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div align="center">
		<h1>Create New Item</h1>
		<br />
		<form  th:objet="${itemw}" action="/additem/saveaction" method="post">
	
			<table class="table table-bordered table-hover">
			
				<tr>
					<td>Item Id</td>
					<td><input type="text" th:field="*{itemw.InvoiceId}"  class="form-control"></td>
				</tr>
				<tr>
					<td>Invoice Id</td>
					<td><input type="text" th:field="*{itemw.ItemId}"  class="form-control"></td>
				</tr>
				<tr>
					<td>Description</td>
					<td><input type="text" th:field="*{itemw.description}"  class="form-control"></td>
				</tr>
				<tr>
					<td>Qte</td>
					<td><input type="text" th:field="*{itemw.qte}"  class="form-control"></td>
				</tr>
				<tr>
					<td>Price</td>
					<td><input type="text" th:field="*{itemw.price}"  class="form-control"></td>
				</tr>
				<tr>
					<td>Subtotal</td>
					<td><input type="text" th:field="*{itemw.total}"  class="form-control"></td>
				</tr>
				 <tr>
				 <td  class="form-control">Select Service:</td>
						<td><select name="idService">
								<option value=""> -- </option>
								<option th:each="s : ${listservices}" th:value="${s.idService}"
									th:utext="${s.nameService}"
									th:selected="${idService == 's.idService'}" />
						</select></td>
				</tr>
				
				 <tr>
				 <td  class="form-control">Select Supplier:</td>
						<td><select name="idSupplier">
								<option value=""> -- </option>
								<option th:each="s : ${listsuppliers}" th:value="${s.idsupplier}"
									th:utext="${s.nameSupplier}"
									th:selected="${idSupplier == 's.idsupplier'}" />
						</select></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>

			</table>
			<p><a href="/" th:href="@{/}">Back to home page</a></p>
		</form>
	</div>
</div>
</body>
</html>