<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Create new Property</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div align="center">
		<h1>Create New Property</h1>
		<br />
		<form action="#" th:action="@{/addproperty}" method="post">
		
		<input type="hidden" th:field="*{property.idProperty}" />
		
			<table class="table table-bordered table-hover">
					
				<tr>
					<td>Name</td>
					<td><input type="text" th:field="*{property.nameProperty}" class="form-control"></td>
				</tr>
				<tr>
					<td>Value</td>
					<td><input type="text" th:field="*{property.value}" class="form-control"></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>

			</table>
			<p><a href="/" th:href="@{/}">Back to home page</a></p>
		</form>
	</div>
	</div>
</body>
</html>