<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Create new Customer</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div align="center">
		<h1>Create New Service</h1>
		<br />
		<form action="#" th:action="@{/addservicesoffered}" method="post">
		
		<input type="hidden" th:field="*{service.idService}" />
		
			<table class="table table-striped w-auto">
					
				<tr>
					<td class="form-group">Name</td>
					<td><input type="text" th:field="*{service.nameService}" class="form-group"></td>
				</tr>
				<tr>
					<td colspan="2"><button class="btn btn-primary" type="submit">Save</button></td>
				</tr>

			</table>
				<p><a href="/" th:href="@{/}">Back to home page</a></p>
		</form>
	</div>
</div>
</body>
</html>