<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<title>Create New Type Income</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
<div align="center">
		<h1>Create New Income</h1>
 </div>
<form class="form-horizontal" action="#" th:action="@{/addTypeIncome}"   th:object="${typeIncome}"  method="post">
    <input type="hidden" th:field="*{idincome}" /> 
    <div class="form-group">
      <label class="control-label col-sm-2" for="Name">Name</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="Name"  th:field="*{nameIncome}"  placeholder="Enter Name" name="Name">
        <div th:if="${#fields.hasErrors('nameIncome')}"  th:errors="*{nameIncome}"  class="alert alert-danger" role="alert">
  			<p th:class="'error'" class="alert-link" ></p>
			</div>
        
      </div>
    </div>
   
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
  </form>
   </div>
</body>
</html>