<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<title>List Customers</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div class="container-fluid">
		<h1>Customer</h1>
		<a th:href="@{/addCustomer}" class="pull-right" >Create  New Customer</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">Customer ID</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
			<tr th:if="${listcustomer.empty}">
			 <td colspan="2"> No Customer Available </td>
      			  </tr>
				<tr th:each="customer: ${listcustomer}">
					<td th:text="${customer.idCustomer}">Customer Id</td>
					<td th:text="${customer.firstName}">first Name</td>
					<td th:text="${customer.LastName}">Last Name</td>
					<td><p>  <a th:href="@{'/editcustomer/' + ${customer.idCustomer}}" class="btn btn-info btn-sm">
         					 <span class="glyphicon glyphicon-pencil"></span> Edit 
        					</a> 
							&nbsp;&nbsp;&nbsp;
							 <a th:href="@{'/deletecustomer/' + ${customer.idCustomer}}"
									class="btn btn-info btn-sm"> <span
									class="glyphicon glyphicon-trash"></span> Delete
								</a>
						</p>
					</td>
				
				</tr>
			</tbody>
			
		
		</table>
	<p><a href="/" th:href="@{/}">Back to home page</a></p>
	</div>
	<div class="row">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelect">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				<div th:if="${listcustomer.totalPages != 1}"
					class="form-group col-md-11 pagination-centered">
					<ul class="pagination">
						<li th:class="${listcustomer.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{/customer(pageSize=${selectedPageSize}, page=1)}">«</a></li>
						<li th:class="${listcustomer.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{/customer(pageSize=${selectedPageSize}, page=${listcustomer.number})}">←</a>
						</li>
						<li
							th:class="${listcustomer.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							th:href="@{/customer(pageSize=${selectedPageSize}, page=${page})}"
							th:text="${page}"></a>
						</li>
						<li
							th:class="${listcustomer.number + 1 == listcustomer.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/customer(pageSize=${selectedPageSize}, page=${listsupplier.number + 2})}">&rarr;</a>
						</li>
						<li
							th:class="${listsupplier.number + 1 == listsupplier.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/customer(pageSize=${selectedPageSize}, page=${listcustomer.totalPages})}">»</a>
						</li>
					</ul>
				</div>
		
		</div>
</div>
</body>
	
</html>