<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create new Customer</title>
</head>
<body>
	<div align="center">
		<h1>Delete Customer</h1>
		<br />
		<form action="#" th:action="@{/editcustomer}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Id User</td>
					<td><input th:style="${'color: red;'}" type="text" readonly
						th:field="*{customer.idCustomer}" /></td>
				</tr>

				<tr>
					<td>First Name</td>
					<td><input type="text" th:field="*{customer.firstName}"></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" th:field="*{customer.lastName}"></td>
				</tr>

				<tr>
					<td>Income Id</td>
					<td><input type="text" th:field="*{customer.incomeidincome}"></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>

			</table>
		</form>
	</div>
</body>
</html>