<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Budget Cat</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div align="center">
		<h1>Edit Type Expenses</h1>
		<br />
		<form action="#" th:action="@{/editypeofexpenses}" method="post">
			<table class="table table-bordered">
				<tr>
					<td>Id Expenses</td>
					<td><input th:style="${'color: red;'}" type="text" readonly  class="form-control"
						th:field="*{expenses.idExpense}" /></td>
				</tr>

				<tr>
					<td>Name</td>
					<td><input type="text" th:field="*{expenses.nameTypeExpense}" class="form-control"></td>
				</tr>
				
				<tr>
					<td colspan="2"><button class="btn btn-primary" type="submit">Save</button></td>
				</tr>

			</table>
			<p><a href="/" th:href="@{/}">Back to home page</a></p>
		</form>
	</div>
</div>
</body>
</html>