<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<title>Edit Item</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div align="center">
		<h1>Edit Item</h1>
		<br />
		<form action="#" th:action="@{/edititem}" method="post">
			<table class="table table-bordered">
				<tr>
					<td>Invoice Id</td>
					<td><input th:style="${'color: red;'}" type="text" readonly class="form-control"
						th:field="*{item.idItem.InvoiceId}" /></td>
				</tr>
				<tr>
					<td>Item Id</td>
					<td><input th:style="${'color: red;'}" type="text" readonly class="form-control"
						th:field="*{item.idItem.ItemId}" /></td>
				</tr>

				<tr>
					<td>description</td>
					<td><input type="text" th:field="*{item.description}"  class="form-control"></td>
				</tr>
				<tr>
					<td>Qty</td>
					<td><input type="text" th:field="*{item.qte}"  class="form-control"></td>
				</tr>
				<tr>
					<td>Price</td>
					<td><input type="text" th:field="*{item.price}"  class="form-control"></td>
				</tr>
				<tr>
					<td>Sub-total</td>
					<td><input type="text" th:field="*{item.total}"  class="form-control"></td>
				</tr>
			
				<tr>
					<td colspan="2"><button class="btn btn-primary" type="submit">Save</button></td>
				</tr>

			</table>
		</form>
		<p><a href="/" th:href="@{/}">Back to home page</a></p>
	</div>
</div>
</body>
</html>