<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Budget Cat</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div  align="center">
		<h1>Income</h1>
		<a th:href="@{/addincome}"  class="pull-right">Create  New Income</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th  scope="col">Income ID</th>
					<th  scope="col">Name Income</th>
					<th  scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="income: ${listincome}">
					<td th:text="${income.idincome}">Income Id</td>
					<td th:text="${income.nameIncome}">Name</td>
<!-- 					<td><a th:href="@{'/editcustomer/' + ${customer.idCustomer}}">Edit</a> -->
<!-- 					  &nbsp;&nbsp;&nbsp; -->
<!-- 					    <a th:href="@{'/deletecustomer/' + ${customer.idCustomer}}">Delete</a> -->
<!-- 					</td> -->
				</tr>
			</tbody>
		</table>

	</div>
</div>
</body>
</html>