<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Budget Cat</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div  align="center">
		<h1>Item</h1>
		<a th:href="@{/additem}"  class="pull-right">Create  New Item</a>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th scope="col">Descripton</th>
					<th scope="col">qte</th>
					<th scope="col">price</th>
					<th scope="col">subtotal</th>
					<th scope="col">service</th>
					<th scope="col">Supplier</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="item: ${listitems}">
					<td th:text="${item.description}"  class="form-control">Name</td>
				 	<td th:text="${item.qte}"  class="form-control">qte</td>
 					<td th:text="${item.price}"  class="form-control">price</td>
					<td th:text="${item.total}"  class="form-control">subtotal</td>
					<td th:text="${item.services.nameService}"  class="form-control">Service</td>
					<td th:text="${item.supplier.nameSupplier}"  class="form-control">Supplier</td>
<!-- 					<td><a th:href="@{'/edititem/' + ${item.idItem}}">Edit</a> -->
<!-- 					  &nbsp;&nbsp;&nbsp; -->
<!-- 					    <a th:href="@{'/deleteitem/' + ${item.idCustomer}}">Delete</a> -->
<!-- 					</td> -->
				</tr>
				
			</tbody>
		</table>
	<p><a href="/" th:href="@{/}">Back to home page</a></p>
	</div>
</div>
</body>
</html>