<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/pag.css}" rel="stylesheet"/>
<title>Services</title>
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> -->
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div  align="center">
		<h1>Services</h1>
		<a th:href="@{/addservicesoffered}" class="pull-right">Create  New Service</a>
		<table class="table responsive table-striped table-bordered table-sm" id="sort">
			<thead>
				<tr>
					<th scope="col">Service ID</th>
					<th scope="col">Name Service</th>		
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="service: ${listservices}">
					<td th:text="${service.idservice}">Service Id</td>
					<td th:text="${service.nameService}">Name</td>
					<td><p>  <a th:href="@{'/editservice/' + ${service.idservice}}" class="btn btn-info btn-sm">
         					 <span class="glyphicon glyphicon-pencil"></span> Edit 
        					</a> 
							&nbsp;&nbsp;&nbsp;
							 <a th:href="@{'/deleteservice/' + ${service.idservice}}"
									class="btn btn-info btn-sm"> <span
									class="glyphicon glyphicon-trash"></span> Delete
								</a>
						</p>
					</td>
					
				</tr>
			</tbody>
		</table>
<p><a href="/" th:href="@{/}" class="pull-right">Back to home page</a></p>
	</div>
		<div class="row">
				<div th:if="${listservices.totalPages != 1}"
					class="form-group col-md-11 pagination-centered">
					<ul class="pagination">
						<li th:class="${listservices.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{/supplier(pageSize=${selectedPageSize}, page=1)}">«</a></li>
						<li th:class="${listservices.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{/servicesoffered(pageSize=${selectedPageSize}, page=${listservices.number})}">←</a>
						</li>
						<li
							th:class="${listservices.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							th:href="@{/servicesoffered(pageSize=${selectedPageSize}, page=${page})}"
							th:text="${page}"></a>
						</li>
						<li
							th:class="${listservices.number + 1 == listservices.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/servicesoffered(pageSize=${selectedPageSize}, page=${listservices.number + 2})}">&rarr;</a>
						</li>
						<li
							th:class="${listservices.number + 1 == listservices.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/servicesoffered(pageSize=${selectedPageSize}, page=${listservices.totalPages})}">»</a>
						</li>
					</ul>
				</div>
		
		</div>
	</div>
	<script>
		$(document).ready(function() {
			   $("#sort").DataTable({
				   "bPaginate":   false

			   });
			});

</script>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/js/pag.js}"></script>

</body>
</html>