<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Budget Cat</title>
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> -->
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div  align="center">
		<h1>Services</h1>
		<a th:href="@{/addservicesoffered}" class="pull-right">Create  New Service</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">Service ID</th>
					<th scope="col">Name Service</th>		
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="service: ${listservices}">
					<td th:text="${service.idService}">Service Id</td>
					<td th:text="${service.nameService}">Name</td>
					<td><p>  <a th:href="@{'/editservice/' + ${service.idService}}" class="btn btn-info btn-sm">
         					 <span class="glyphicon glyphicon-pencil"></span> Edit 
        					</a> 
							&nbsp;&nbsp;&nbsp;
							 <a th:href="@{'/deleteservice/' + ${service.idService}}"
									class="btn btn-info btn-sm"> <span
									class="glyphicon glyphicon-trash"></span> Delete
								</a>
						</p>
					</td>
					
				</tr>
			</tbody>
		</table>

	</div>
</div>
</body>
</html>