<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
 <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/pag.css}" rel="stylesheet"/>
<title>Supplier</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">

		<div class="container-fluid">

			<h1>Supplier</h1>

			<a th:href="@{/addsupplier}" class="pull-right">Create New
				Supplier</a>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">Supplier ID</th>
						<th scope="col">Name Supplier</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="supplier: ${listsupplier}">
						<td th:text="${supplier.idsupplier}">Supplier Id</td>
						<td th:text="${supplier.nameSupplier}">Name</td>
						<td><p>
								<a th:href="@{'/editsupplier/' + ${supplier.idsupplier}}"
									class="btn btn-info btn-sm"> <span
									class="glyphicon glyphicon-pencil"></span> Edit
								</a> &nbsp;&nbsp;&nbsp; <a
									th:href="@{'/deletesupplier/' + ${supplier.idsupplier}}"
									class="btn btn-info btn-sm"> <span
									class="glyphicon glyphicon-trash"></span> Delete
								</a>
							</p></td>

					</tr>
				</tbody>
			</table>

	</div>
			<div class="row">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelect">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				<div th:if="${listsupplier.totalPages != 1}"
					class="form-group col-md-11 pagination-centered">
					<ul class="pagination">
						<li th:class="${listsupplier.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{/supplier(pageSize=${selectedPageSize}, page=1)}">«</a></li>
						<li th:class="${listsupplier.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{/supplier(pageSize=${selectedPageSize}, page=${listsupplier.number})}">←</a>
						</li>
						<li
							th:class="${listsupplier.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							th:href="@{/supplier(pageSize=${selectedPageSize}, page=${page})}"
							th:text="${page}"></a>
						</li>
						<li
							th:class="${listsupplier.number + 1 == listsupplier.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/supplier(pageSize=${selectedPageSize}, page=${listsupplier.number + 2})}">&rarr;</a>
						</li>
						<li
							th:class="${listsupplier.number + 1 == listsupplier.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/supplier(pageSize=${selectedPageSize}, page=${listsupplier.totalPages})}">»</a>
						</li>
					</ul>
				</div>
		
		</div>
	</div>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/js/pag.js}"></script>

</body>
</html>