<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Budget Cat</title>
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> -->
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div  align="center">
		<h1>Supplier</h1>
		<a th:href="@{/addsupplier}" class="pull-right">Create  New Supplier</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">Supplier ID</th>
					<th scope="col">Name Supplier</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="supplier: ${listsupplier}">
					<td th:text="${supplier.idsupplier}">Supplier Id</td>
					<td th:text="${supplier.nameSupplier}">Name</td>
					<td><a th:href="@{'/editsupplier/' + ${supplier.idsupplier}}">Edit</a>
					  &nbsp;&nbsp;&nbsp;
					    <a th:href="@{'/deletesupplier/' + ${supplier.idsupplier}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	</div>
</body>
</html>