<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<title>Type of Expenses</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div  align="center">
		<h1>Type Of Expenses</h1>
		<a th:href="@{/addtypexpenses}"  class="pull-right">Create  New Type Expenses</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th  scope="col">Expenses ID</th>
					<th  scope="col">Name of Expenses</th>
					<th  scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="expense: ${listOfExpenses}">
					<td th:text="${expense.idExpense}">Expense Id</td>
					<td th:text="${expense.nameTypeExpense}">Name</td>
					<td><p>  <a th:href="@{'/editypeofexpenses/' + ${expense.idExpense}}" class="btn btn-info btn-sm">
         					 <span class="glyphicon glyphicon-pencil"></span> Edit 
        					</a> 
							&nbsp;&nbsp;&nbsp;
							 <a th:href="@{'/deletetypeofexpenses/' + ${expense.idExpense}}"
									class="btn btn-info btn-sm"> <span
									class="glyphicon glyphicon-trash"></span> Delete
								</a>
						</p>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<p><a href="/" th:href="@{/}">Back to home page</a></p>
	<div class="row">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelect">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				<div th:if="${listOfExpenses.totalPages != 1}"
					class="form-group col-md-11 pagination-centered">
					<ul class="pagination">
						<li th:class="${listOfExpenses.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{/typeExpenses(pageSize=${selectedPageSize}, page=1)}">«</a></li>
						<li th:class="${listOfExpenses.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{/typeExpenses(pageSize=${selectedPageSize}, page=${listOfExpenses.number})}">←</a>
						</li>
						<li
							th:class="${listOfExpenses.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							th:href="@{/typeExpenses(pageSize=${selectedPageSize}, page=${page})}"
							th:text="${page}"></a>
						</li>
						<li
							th:class="${listOfExpenses.number + 1 == listOfExpenses.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/typeExpenses(pageSize=${selectedPageSize}, page=${listOfExpenses.number + 2})}">&rarr;</a>
						</li>
						<li
							th:class="${listOfExpenses.number + 1 == listOfExpenses.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/typeExpenses(pageSize=${selectedPageSize}, page=${listOfExpenses.totalPages})}">»</a>
						</li>
					</ul>
				</div>
		
		</div>
</div>
</body>
</html>