<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<meta charset="ISO-8859-1">
<title>Budget Cat</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div  align="center">
		<h1>Type Of Income</h1>
		<a th:href="@{/addTypeIncome}"  class="pull-right">Create  New Type Income</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th  scope="col">Income ID</th>
					<th  scope="col">Name Income</th>
					<th  scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="t: ${listTypeincome}">
					<td th:text="${t.idincome}">Income Id</td>
					<td th:text="${t.nameIncome}">Name</td>
					<td><p>  <a  th:href="@{'/editypeincome/' + ${t.idincome}}" class="btn btn-info btn-sm">
         					 <span class="glyphicon glyphicon-pencil"></span> Edit 
        					</a> 
							&nbsp;&nbsp;&nbsp;
							 <a th:href="@{'/deleteincome/' + ${t.idincome}}"
									class="btn btn-info btn-sm"> <span
									class="glyphicon glyphicon-trash"></span> Delete
								</a>
						</p>
					</td>
					
				</tr>
			</tbody>
		</table>

	</div>
</div>
</body>
</html>