<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Type of Income</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div  align="center">
		<h1>Type Of Income</h1>
		<a th:href="@{/addTypeIncome}"  class="pull-right">Create  New Type Income</a>
		<table class="table responsive table-striped table-bordered table-sm" id="sort">
			<thead>
				<tr>
					<th  scope="col">Income ID</th>
					<th  scope="col">Name Income</th>
					<th  scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="t: ${listTypeincome}">
					<td th:text="${t.idincome}">Income Id</td>
					<td th:text="${t.nameIncome}">Name</td>
					<td><p>  <a  th:href="@{'/editypeincome/' + ${t.idincome}}" class="btn btn-info btn-sm">
         					 <span class="glyphicon glyphicon-pencil"></span> Edit 
        					</a> 
							&nbsp;&nbsp;&nbsp;
							 <a th:href="@{'/deletetypeincome/' + ${t.idincome}}"
									class="btn btn-info btn-sm"> <span
									class="glyphicon glyphicon-trash"></span> Delete
								</a>
						</p>
					</td>
					
				</tr>
			</tbody>
		</table>
		<p><a href="/" th:href="@{/}" class="pull-right">Back to home page</a></p>	
	</div>
	<div class="row">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelect">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				<div th:if="${listTypeincome.totalPages != 1}"
					class="form-group col-md-11 pagination-centered">
					<ul class="pagination">
						<li th:class="${listTypeincome.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{/typeIncome(pageSize=${selectedPageSize}, page=1)}">«</a></li>
						<li th:class="${listTypeincome.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{/typeIncome(pageSize=${selectedPageSize}, page=${listTypeincome.number})}">←</a>
						</li>
						<li
							th:class="${listTypeincome.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							th:href="@{/typeIncome(pageSize=${selectedPageSize}, page=${page})}"
							th:text="${page}"></a>
						</li>
						<li
							th:class="${listTypeincome.number + 1 == listTypeincome.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/typeIncome(pageSize=${selectedPageSize}, page=${listTypeincome.number + 2})}">&rarr;</a>
						</li>
						<li
							th:class="${listTypeincome.number + 1 == listTypeincome.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/typeIncome(pageSize=${selectedPageSize}, page=${listTypeincome.totalPages})}">»</a>
						</li>
					</ul>
				</div>
		
		</div>
		<script>
		$(document).ready(function() {
			   $("#sort").DataTable({
				   "bPaginate":   false

			   });
			});

</script>
</div>
</body>
</html>