<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
<title>Type of Property</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
	<div  align="center">
		<h1>Type Of Property</h1>
		<a th:href="@{/addtypeproperty}"  class="pull-right">Create  New Type Property</a>
		<table class="table responsive table-striped table-bordered table-sm" id="sort">
			<thead>
				<tr>
					<th  scope="col">Property Type ID</th>
					<th  scope="col">Name of type Property</th>
					<th  scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="typeproperty: ${listpropertytype}">
					<td th:text="${typeproperty.idtypeproperty}">Property Id</td>
					<td th:text="${typeproperty.nameProperty}">Name</td>
					<td><a th:href="@{'/editypeproperty/' + ${typeproperty.idtypeproperty}}" 
					class="btn btn-info btn-sm">
         					 <span class="glyphicon glyphicon-pencil"></span>Edit
					</a>
					  &nbsp;&nbsp;&nbsp;
					    <a th:href="@{'/deletetypeproperty/' + ${typeproperty.idtypeproperty}}"
					    	class="btn btn-info btn-sm"> <span
									class="glyphicon glyphicon-trash"></span> Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<p><a href="/" th:href="@{/}" class="pull-right">Back to home page</a></p>
	
	</div>
	<script>
		$(document).ready(function() {
			   $("#sort").DataTable({
				   "bPaginate":   false

			   });
			});

</script>
</div>

</body>
</html>